@import "../font.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Manrope;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vmax 10vmax;
  background-color: #fff;
}
.nav .left {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nav .left img {
  height: 1.5vmax;
  margin-top: 0.5vmax;
}
.nav .right {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 2.5vmax;
}
.nav .right a {
  color: #000;
  text-decoration: none;
  font-family: manropeMedium;
}
.nav .right button {
  padding: 0.5vmax 1vmax;
  border-radius: 0.3vmax;
  border: none;
  background-color: #2882de;
  font-family: manropeMedium;
}
.nav .right .menubtn {
  display: none;
}

@media (max-width: 30cm) {
  .nav {
    padding: 2vmax 5vmax;
  }
  .nav .left img {
    height: 2.5vmax;
  }
  .nav .right a {
    display: none;
  }
  .nav .right button {
    display: none;
  }
  .nav .right .menubtn {
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: 4vmax;
    width: 5vmax;
    border-radius: 0.3vmax;
    background-color: #000;
  }
  .nav .right .menubtn .line {
    height: 0.3vmax;
    width: 3vmax;
    background-color: #fff;
  }
  .nav .right .menubtn .l1 {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav .right .menubtn .l2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav .right .menubtn .l3 {
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 15cm) {
  .nav {
    padding: 2vmax 2.5vmax;
  }
  .nav .right .menubtn .l1 {
    top: 25%;
  }
  .nav .right .menubtn .l3 {
    bottom: 25%;
  }
}
.wrapper {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #111;
}
.wrapper .sec1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  padding-top: 5vmax;
  padding-left: 10vmax;
}
.wrapper .sec1 .left {
  height: -moz-fit-content;
  height: fit-content;
  width: 34%;
}
.wrapper .sec1 .left h2,
.wrapper .sec1 .left h4,
.wrapper .sec1 .left h5 {
  text-transform: capitalize;
}
.wrapper .sec1 .left h1 {
  text-transform: capitalize;
  background-image: linear-gradient(92deg, #217ee6 3%, #3187d5 44%, #69a798 70%, #fcf2a6 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.5vmax;
}
.wrapper .sec1 .left h5 {
  font-family: manropeLight;
  letter-spacing: 0.05vmax;
  margin-top: 1.5vmax;
}
.wrapper .sec1 .left p {
  line-height: 2vmax;
  opacity: 0.4;
  margin-top: 1vmax;
}
.wrapper .sec1 .left button {
  padding: 0.8vmax 1.8vmax;
  border-radius: 0.3vmax;
  border: none;
  background-color: #2882de;
  font-family: manropeMedium;
  margin-top: 2vmax;
}
.wrapper .sec1 .right {
  height: 70vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f2f3;
  border-top-left-radius: 1.3vmax;
  border-bottom-left-radius: 1.3vmax;
  overflow: hidden;
}
.wrapper .sec1 .right video {
  height: 90%;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 30cm) {
  .wrapper .sec1 {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .wrapper .sec1 .left {
    height: -moz-fit-content;
    height: fit-content;
    width: 82%;
    padding: 10vmax 5vmax;
    padding-top: 17vmax;
  }
  .wrapper .sec1 .left h5 {
    margin-top: 2.5vmax;
  }
  .wrapper .sec1 .left p {
    line-height: 2.8vmax;
    margin-top: 1.5vmax;
  }
  .wrapper .sec1 .left button {
    margin-top: 3vmax;
  }
  .wrapper .sec1 .right {
    height: 60vh;
    width: 100%;
    border-radius: 1.3vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec1 .left {
    height: 70vh;
    width: 100%;
    padding-top: 18vmax;
    padding-left: 2.5vmax;
  }
  .wrapper .sec1 .left p {
    padding-right: 5vmax;
  }
  .wrapper .sec1 .right {
    height: 50vh;
  }
}
@media (max-width: 10cm) {
  .wrapper .sec1 .left {
    padding-top: 19vmax;
  }
  .wrapper .sec1 .left p {
    padding-right: 3vmax;
  }
}
.wrapper .sec2 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 5vmax 10vmax;
  text-align: center;
}
.wrapper .sec2 h2 {
  text-transform: capitalize;
  background-image: linear-gradient(92deg, #217ee6 3%, #3187d5 44%, #69a798 70%, #fcf2a6 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper .sec2 .textbox {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2vmax;
  margin-top: 1vmax;
}
.wrapper .sec2 .textbox h4 {
  text-transform: capitalize;
  font-family: manropeLight;
}
@media (max-width: 30cm) {
  .wrapper .sec2 {
    padding: 15vmax 5vmax;
    text-align: left;
  }
  .wrapper .sec2 .textbox {
    flex-direction: column;
    margin-top: 4vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec2 {
    padding: 15vmax 2.5vmax;
  }
}
.wrapper .sec3,
.wrapper .sec5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  padding: 5vmax 0;
  padding-right: 10vmax;
}
.wrapper .sec3 .left,
.wrapper .sec5 .left {
  height: 70vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 1.3vmax;
  border-bottom-right-radius: 1.3vmax;
  padding-left: 2vmax;
  overflow: hidden;
}
.wrapper .sec3 .left video,
.wrapper .sec5 .left video {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.wrapper .sec3 .right,
.wrapper .sec5 .right {
  height: -moz-fit-content;
  height: fit-content;
  width: 35%;
  text-align: right;
}
.wrapper .sec3 .right h2,
.wrapper .sec5 .right h2 {
  text-transform: capitalize;
  background-image: linear-gradient(92deg, #217ee6 3%, #3187d5 44%, #69a798 70%, #fcf2a6 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper .sec3 .right p,
.wrapper .sec5 .right p {
  line-height: 2vmax;
  opacity: 0.4;
  margin-top: 1vmax;
}
.wrapper .sec3 .right button,
.wrapper .sec5 .right button {
  padding: 0.8vmax 1.8vmax;
  border-radius: 0.3vmax;
  border: none;
  background-color: #2882de;
  font-family: manropeMedium;
  margin-top: 2vmax;
}
@media (max-width: 30cm) {
  .wrapper .sec3,
  .wrapper .sec5 {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .wrapper .sec3 .left,
  .wrapper .sec5 .left {
    height: 60vh;
    width: 100%;
    border-radius: 1.3vmax;
  }
  .wrapper .sec3 .right,
  .wrapper .sec5 .right {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding: 10vmax 5vmax;
    text-align: left;
  }
  .wrapper .sec3 .right h2,
  .wrapper .sec5 .right h2 {
    margin-top: 1vmax;
  }
  .wrapper .sec3 .right p,
  .wrapper .sec5 .right p {
    line-height: 2.8vmax;
    margin-top: 2vmax;
  }
  .wrapper .sec3 .right button,
  .wrapper .sec5 .right button {
    margin-top: 4vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec3 .left,
  .wrapper .sec5 .left {
    height: 50vh;
  }
  .wrapper .sec3 .right,
  .wrapper .sec5 .right {
    width: 91%;
    padding: 10vmax 2.5vmax;
  }
}
.wrapper .sec4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  padding: 5vmax 0;
  padding-left: 10vmax;
}
.wrapper .sec4 .left {
  height: -moz-fit-content;
  height: fit-content;
  width: 33%;
}
.wrapper .sec4 .left h2 {
  text-transform: capitalize;
  background-image: linear-gradient(92deg, #217ee6 3%, #3187d5 44%, #69a798 70%, #fcf2a6 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper .sec4 .left p {
  line-height: 2vmax;
  opacity: 0.4;
  margin-top: 1vmax;
}
.wrapper .sec4 .left button {
  padding: 0.8vmax 1.8vmax;
  border-radius: 0.3vmax;
  border: none;
  background-color: #2882de;
  font-family: manropeMedium;
  margin-top: 2vmax;
}
.wrapper .sec4 .right {
  height: 70vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top-left-radius: 1.3vmax;
  border-bottom-left-radius: 1.3vmax;
  padding-top: 1.8vmax;
  padding-left: 2vmax;
  overflow: hidden;
}
.wrapper .sec4 .right video {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 30cm) {
  .wrapper .sec4 {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0;
  }
  .wrapper .sec4 .left {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding: 10vmax 5vmax;
  }
  .wrapper .sec4 .left h2 {
    margin-top: 1.2vmax;
  }
  .wrapper .sec4 .left p {
    line-height: 2.8vmax;
    margin-top: 2vmax;
  }
  .wrapper .sec4 .left button {
    margin-top: 4vmax;
  }
  .wrapper .sec4 .right {
    height: 60vh;
    width: 100%;
    border-radius: 1.3vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .sec4 .left {
    width: 90%;
    padding: 10vmax 2.5vmax;
  }
  .wrapper .sec4 .right {
    height: 50vh;
    width: 100%;
  }
}
@media (max-width: 10cm) {
  .wrapper .sec4 .left {
    width: 85%;
  }
}
.wrapper .sec6 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vmax 10vmax;
}
.wrapper .sec6 h1 {
  line-height: initial;
  text-transform: capitalize;
  background-image: linear-gradient(92deg, #217ee6 3%, #3187d5 44%, #69a798 70%, #fcf2a6 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper .sec6 .slider {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-top: 5vmax;
}
.wrapper .sec6 .slider h5 {
  letter-spacing: 0.05vmax;
  font-family: manropeLight;
  text-transform: capitalize;
  margin-left: 3vmax;
}
.wrapper .sec6 .slider .cardbox {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2vmax;
  margin-top: 1vmax;
}
.wrapper .sec6 .slider .cardbox .card {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper .sec6 .slider .cardbox .card .top {
  height: 12vmax;
  width: 23vmax;
  border-radius: 0.3vmax;
  overflow: hidden;
}
.wrapper .sec6 .slider .cardbox .card .top img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper .sec6 .slider .cardbox .card .bottom {
  height: -moz-fit-content;
  height: fit-content;
  width: 23vmax;
  margin-top: 1vmax;
}
.wrapper .sec6 .slider .cardbox .card .bottom h6 {
  font-size: 0.8vmax;
  letter-spacing: 0.05vmax;
  font-weight: 100;
  font-family: manropeLight;
  opacity: 0.5;
}
.wrapper .sec6 .slider .cardbox .card .bottom p {
  letter-spacing: 0.05vmax;
  font-family: manropeLight;
  margin-top: 0.5vmax;
  opacity: 0.5;
  padding-right: 4vmax;
}
@media (max-width: 30cm) {
  .wrapper .sec6 {
    padding: 10vmax 5vmax;
    align-items: flex-start;
  }
  .wrapper .sec6 .slider {
    overflow: hidden;
  }
  .wrapper .sec6 .slider h5 {
    margin-left: 0;
  }
  .wrapper .sec6 .slider .cardbox {
    justify-content: flex-start;
    overflow-x: auto;
  }
  .wrapper .sec6 .slider .cardbox .card {
    flex-shrink: 0;
  }
  .wrapper .sec6 .slider .cardbox .card .top {
    height: 22vmax;
    width: 33vmax;
  }
  .wrapper .sec6 .slider .cardbox .card .top img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .wrapper .sec6 .slider .cardbox .card .bottom {
    margin-top: -1vmax;
    width: 33vmax;
  }
  .wrapper .sec6 .slider .cardbox .card .bottom h6 {
    font-size: 1.2vmax;
  }
  .wrapper .sec6 .slider .cardbox .card .bottom p {
    margin-top: 1.2vmax;
  }
  .wrapper .sec6 .slider .cardbox::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 30cm) {
  .wrapper .sec6 {
    padding: 10vmax 2.5vmax;
  }
}/*# sourceMappingURL=style.css.map */